<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ECommerceDb" connectionString="Server=localhost;Database=DoddleAuditECommerce;Trusted_Connection=true;MultipleActiveResultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>