<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DoddleAudit.Tests.Properties.Settings.DoddleAuditECommerceConnectionString" connectionString="Data Source=localhost;Initial Catalog=DoddleAuditECommerce;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ECommerceEntities" connectionString="metadata=res://*/EFObjectContext.ECommerce.csdl|res://*/EFObjectContext.ECommerce.ssdl|res://*/EFObjectContext.ECommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DoddleAuditECommerce;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>